.Alert.error {
    padding: 15px;
    background-color: #D93A32;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.Alert.success {
    padding: 15px;
    background-color: #3ace3a;
    color: white;
    margin-bottom: 15px;
}

.addProperty {
    display: block;
    text-align: center;
    background-image: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: 50px;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #373a47;
    font-size: 1rem;
    font-weight: bold;
}

.add-input, select {
    width: 75%;
    height: 25px;
    border:#373a47;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    box-shadow: 3px 3px #d3d3d3;
}

.form {
    border: #d3d3d3;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    width: 500px;
    display: inline-block;
    margin: 50px;
}

.add-button-div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.add-button {
    width: 50%;
    height: 35px;
    background-color: #373a47;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: solid;
    border-radius: 6px;
    transition: 0.4s;
}

.add-button:hover {
    background-color: #00004e;
}
