.homepage-box {
    display: flex;
    justify-content: center;
}

.homepage-text {
    font-size: 20px;
    font-weight: bold;
    color: #373a47;
    text-align: center;
}

img {
    width: 1050px;
    height: 715px;
    position: absolute;
    top: 200px;
    border-radius: 15px;
}