.homepage {
    width: 50%;
    height: 715px;
    overflow: hidden;
}

.homepage-box {
    height: 715px;
    position: absolute;
    left: 33.33%;
}

.homepage-text {
    font-size: 20px;
    font-weight: bold;
    color: #373a47;
    text-align: center;
}

img {
    max-width: 100%;
    height: 45em;
    width: 50em;
    position: absolute;
    top: 12%;
    border-radius: 15px;
    display: block;
}

@media only screen and (max-width: 400px) {
     img  {
        right: 4em;
        height: 20em;
        margin-top: 20px;
    }
    p {
        position: relative;
        right: 6em;
        margin-top: 65px;
    }
    .homepage-text {
        font-size: 10px;
    }
}