.title-div {
    display: flex;
    align-items: center;
}

.title, .logo-div {
    padding: 0px 5px;
}

.title {
    font-size: 2.5rem;
    padding-left: 25px;
}

@media only screen and (max-width: 380px) {
    .title {
        font-size: 1.5rem;
    }
}