.navbar {
    background-color: white;
    color: #373a47;
    box-shadow: 0.5px 1.5px #d3d3d3;
    display: flex;
}

.logout {
  background-color: #3b5998;
  border: solid #3b5998;
  color: white;
  width: 200px;
  height: 85px;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links {
  padding-top: 10px;
  position: relative;
  left: 750px;
  top: 20px;
}


li a, .login-button {
  list-style-type: none;
  text-decoration: none;
  color: #373a47;
  font-weight: bold;
  font-size: 1rem;
  padding: 15px;
}

.login-button {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 25px;
}

.li-link {
  display: inline-block;
}

li a:hover {
  text-decoration: underline;
  text-decoration-color: #373a47;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}


@media only screen and (max-width: 380px) {
  .navbar-links {
    position: absolute;
    left: -15px;
    top: 65px;
  }

  li a, .login-button {
    font-size: 0.75rem;
    padding: 3px;
  }
}