.navbar {
    background-color: white;
}

.navbar-links {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.logo {
    position: relative;
    top: -105px;
    left: 25px;
}