.sidebar {
    max-width: 150px;
}

.input {
    position: relative;
    left: -25px;
    
}

.side-input {
    width: 150px;
    height: 27px;
}

.side-button {
    width: 158px;
    height: 30px;
    border: solid #373a47;
    border-radius: 3px;
    background-color: #373a47;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.sidebar-links {
    position: relative;
    left: -65px;
}

.sidebar-link {
    list-style-type: none;
    margin-bottom: 15px;
}

.sidebar-title {
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .sidebar {
        display: none;
    }
}